<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=(local);Initial Catalog=greenspoonSitecore_core;Integrated Security=False;User ID=sa;Password=Password1" />
  <add name="master" connectionString="Data Source=(local);Initial Catalog=greenspoonSitecore_master;Integrated Security=False;User ID=sa;Password=Password1" />
  <add name="web" connectionString="Data Source=(local);Initial Catalog=greenspoonSitecore_web;Integrated Security=False;User ID=sa;Password=Password1" />
  <add name="analytics" connectionString="mongodb://localhost:27017/greenspoon_analytics" />
  <add name="tracking.live" connectionString="mongodb://localhost:27017/greenspoon_tracking_live" />
  <add name="tracking.history" connectionString="mongodb://localhost:27017/greenspoon_tracking_history" />
  <add name="tracking.contact" connectionString="mongodb://localhost:27017/greenspoon_tracking_contact" />
  <add name="reporting" connectionString="Data Source=(local);Initial Catalog=greenspoonSitecore_reporting;Integrated Security=False;User ID=sa;Password=Password1" />
</connectionStrings>