@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<GreenSpoon.Domain.Items.GreenSpoon.Recipes.IRecipesLandingPage>

<h2>@Editable(x=>x.Title)</h2>

@Editable(x=>x.Description)

@Html.Sitecore().Placeholder("top")
